In [45]:
import pandas as pd
import numpy as np

In [47]:

n = 50
num_occupants = np.random.randint(1, 10, n)
temperature = np.random.randint(15, 40, n)
area = np.random.randint(400, 5000, n)
ac_hours = np.clip(((temperature - 25) / 2) + np.random.normal(0, 1, n), 0, 10)
no_ac=np.random.randint(1,3,n)
ac_star_rating = np.random.randint(1, 6, n)
efficiency_factor = 1 + (5 - ac_star_rating) * 0.1
washing_hours = np.clip(num_occupants * np.random.uniform(0.2, 0.5, n), 0, 2)
gyser_hours = np.clip((35 - temperature) / 5 + np.random.normal(0, 0.5, n), 0, 4)
fridge_hours = np.random.randint(20, 25, n)

In [49]:
df = pd.DataFrame({
    'NumOccupants': num_occupants,
    'Temperature': temperature,
    'Area': area,
    'AC_hours': ac_hours,
    'AC_no':no_ac,
    'AC_star_rating':ac_star_rating,
    'efficiency_factor':1 + (5 - df['AC_star_rating']) * 0.1,
    'Washing_hours': washing_hours,
    'Geyser_hours': gyser_hours,
    'Fridge_hours': fridge_hours
})

df.head()

,NumOccupants,Temperature,Area,AC_hours,AC_no,AC_star_rating,efficiency_factor,Washing_hours,Geyser_hours,Fridge_hours
0,7,30,1696,1.612456,1,3,1.0,1.700908,1.001430,24
1,3,39,2463,8.229926,1,2,1.2,1.459176,0.000000,22
2,9,34,3783,5.660531,2,3,1.0,2.000000,0.804280,21
3,2,33,1856,4.986362,1,3,1.0,0.523723,0.819147,20
4,8,18,1747,0.000000,1,3,1.1,2.000000,3.503797,23

In [77]:
Ac_power=1.5
df['ac_units'] = df['AC_no'] * df['AC_hours'] * Ac_power* df['efficiency_factor'] 
df['Bill']=df['ac_units']*30+2.5*df['Geyser_hours']*30+0.2*df['Fridge_hours']*30+0.4*df['Washing_hours']*30
df['Price']=df['Bill']*8

In [81]:
df.head()

,NumOccupants,Temperature,Area,AC_hours,AC_no,AC_star_rating,efficiency_factor,Washing_hours,Geyser_hours,Fridge_hours,ac_units,Bill,Price
0,7,30,1696,1.612456,1,3,1.0,1.700908,1.001430,24,2.418683,312.078627,2496.629016
1,3,39,2463,8.229926,1,2,1.2,1.459176,0.000000,22,14.813867,593.926122,4751.408979
2,9,34,3783,5.660531,2,3,1.0,2.000000,0.804280,21,16.981592,719.768746,5758.149967
3,2,33,1856,4.986362,1,3,1.0,0.523723,0.819147,20,7.479543,412.106986,3296.855885
4,8,18,1747,0.000000,1,3,1.1,2.000000,3.503797,23,0.000000,424.784742,3398.277938

In [69]:
df.to_csv('Electricity Bill',index=False)